<h6>标题</h6>

<%= form_tag events_path, :method => :get do %>
  <%= text_field_tag "keyword",params[:keyword] %>
  <%= submit_tag "Search" %>
<% end %>


<%= link_to 'Sort by Name', events_path( :order => "name") %>
<%= link_to 'Sort by Default', events_path %>


<%= form_tag bulk_update_events_path do %>
  <ul>
    <% @events.each do |event| %>
      <li>
        <%= check_box_tag "ids[]", event.id, false %>
        <%= event.name %>
        <%= link_to 'Show', :controller => 'events', :action => 'show', :id => event %>
        <%= link_to 'Edit', :controller => 'events', :action => 'edit', :id => event %>
        <%= link_to 'Delete', event_path(event), method: :delete %>
        <%= link_to 'attendees', event_attendees_path(event) %>
        <%= link_to 'location', event_location_path(event) %>

        <%= link_to 'join',join_event_path(event) %>
        <%= link_to 'withdraw',withdraw_event_path(event) %>
      </li>
    <% end %>
  </ul>

  <%= submit_tag "Delete" %>
  <%= submit_tag "Publish" %>
<% end %>

<%= link_to 'New Event', :controller => 'events', :action => 'new' %>